.sidebar {
  background-color: black;
  width: 70px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-top: 20px;
}
