.asd {
  display: flex;
  justify-content: center;
  background-color: rgb(37, 37, 37);
  padding-bottom: 30px;
}

.postPage {
  width: 650px;
}

.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(69, 69, 69);
}

.post {
  background-color: aquamarine;

  padding: 10px;
  margin-top: 20px;
}

.postProfilePic {
  height: 50px;
  border-radius: 25px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.userInfo {
  display: flex;
}

.commentsContainer {
  padding-bottom: 20px;
  background-color: rgb(69, 69, 69);
  display: flex;
  flex-direction: column;
}

.comm {
  color: white;
  max-width: 300px;
  margin-top: 15px;
  margin-left: 20px;
}

.createComm {
  height: 40px;
  width: 450px;
  background-color: gray;
  border-radius: 50px;
  padding-left: 20px;
  color: gray;
  background-color: rgb(34, 34, 34);
}

.createCommSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  height: 60px;
}

.addCommBtn {
  background-color: rgb(20, 134, 205);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  margin-left: 5px;
}
